<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="binarios.numeros.santos.pereira.victor.joao.numeros_binarios">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
